<!-- as 'itemsShowCtrl' -->
<div class="container">
  <div class="row">
    <h2><strong>{{itemsShowCtrl.item.name}}</strong></h2>
    <h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{itemsShowCtrl.item.place.name}}</h4>
    <!-- <p>Category: {{itemsShowCtrl.item.category.name}} -->
    <p><strong>Address:</strong> {{itemsShowCtrl.item.place.address}} </p>
    <p><strong>Website:</strong> {{itemsShowCtrl.item.place.website}} </p>
    <p><strong>Phone Number:</strong> {{itemsShowCtrl.item.place.phone_num}} </p>
    <p><strong>Item Price:</strong> {{itemsShowCtrl.item.price}} </p>
  </div>
  <hr>



  <div class="row">
    <input type="text" class="form-control" ng-model="searchText" placeholder="Search User">
    <div ng-repeat= "review in itemsShowCtrl.item.reviews | orderBy: '-created' | filter: searchText">
      <div class="card-columns">
        <div class="col-md-4">
          <div id="card">
            <div class="card">
              <img class="card-img-top img-responsive" ng-src="images/{{review.image}}" alt="Review Photo">
              <div class="card-block">
                <p class="card-text"><strong>Title:</strong> {{review.title}}</p>
                <p class="card-text"><strong>Rating:</strong> {{review.rating}} stars</p>
                <p class="card-text">{{review.content}}Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text posted_by">
                  <img class="img-circle img-responsive avatar pull-left" ng-src="images/{{review.user.avatar}}" alt="User Avatar"><small class="text-muted">{{review.user.first_name}} {{review.user.last_name}}</small>
                  <small class="text-muted pull-right">Posted: hrs ago</small>
                </p>
              </div>
            </div>
          </div>
        </div><!--closes col-md-4-->
      </div><!--closes .card-columns-->
    </div><!--closes ng-repeat-->
  </div><!--closes row-->
<!-- <div id='map'>

</div>
<div class="container">
  <div class="col-md-6">
    <div class="row">
      <h2>{{itemsShowCtrl.item.name}}</H2>
    </div>
    <div class="row">
      <p>filter by:</p>
    </div> -->
    <!--insert reviews-->

    <!-- <div ng-repeat="review in itemsShowCtrl.item.reviews">
      Review Title: {{review.title}}<br>
      Place Name: {{itemsShowCtrl.item.place.name}}<br>
      Review Rating: {{review.rating}}<br> -->


    <!-- <div ng-repeat="review in itemsShowCtrl.item.reviews">
      <p><strong>Review Title: </strong>{{review.title}}</p>
      <p><strong>Rating: </strong>{{review.rating}}</p>
    </div> -->
    <!-- Place Name: {{itemsShowCtrl.item.place.name}}<br>
    Review Title: {{itemsShowCtrl.item.reviews.title}}<br> -->

  <!-- </div>
</div> -->






<!-- <div ng-if="itemsShowCtrl.items.length">
  <div ng-repeat="item in home.items">
    <div class="col-md-4">
      <p>
        <strong><a ng-href="/items/{{item._id}}">{{item.name}}</a></strong>
      </p>
      <p>
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 31 restaurants{{item.places.length}}
      </p>
      <div class="col-md-12 col-xs-12 thumbnail">
        <img src="images/800x800.png" alt="item image">
      </div>
    </div>
  </div>
</div> -->



<!--
<script>
  mapboxgl.accessToken = process.env.TOKEN_MAP;
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v8'
    });
</script> -->
