<style>
  #map{
    top:30px;
    margin-bottom: 35px;
    width:100%;
    height:300px;
  }
</style>

<!-- as 'itemsShowCtrl' -->
<div id="item_show">
  <div class="item_show row">
    <div class="col-md-6">
      <h2><strong>{{itemsShowCtrl.item.name}}</strong></h2>
      <h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{itemsShowCtrl.item.place.name}}</h4>
      <p><strong>Address:</strong> {{itemsShowCtrl.item.place.address}} </p>
      <p><strong>Website:</strong> {{itemsShowCtrl.item.place.website}} </p>
      <p><strong>Phone Number:</strong> {{itemsShowCtrl.item.place.phone_num}} </p>
      <p><strong>Item Price:</strong> {{itemsShowCtrl.item.price}} </p>
      <a ng-show="main.currentUser.isLoggedIn()" type="button" class="btn btn-success" ng-href="/"><span class="glyphicon glyphicon-plus"></span> Review</a>
    </div>
    <div class="col-md-6">
      <div id='map'></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container">
    <div id="search_bar" class="row">
      <div class="col-md-6 col-md-offset-3">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search User">
      </div>
    </div>
  </div>
    <div class="container">
      <div class="card-columns">
        <div ng-repeat= "review in itemsShowCtrl.item.reviews | orderBy: '-created' | filter: searchText">
          <div id="card">
            <div class="card">
              <img class="card-img-top img-responsive" ng-src="{{review.image}}" alt="Review Photo">
              <div class="card-block">
                <h3 class="card-text">{{review.title}}</h3>
                <p class="card-text"><strong>Rating:</strong> {{review.rating}} stars</p>
                <p class="card-text">{{review.content}}</p>
                <p class="card-text posted_by">
                  <img class="img-circle img-responsive avatar pull-left" ng-src="images/{{review.user.avatar}}" alt="User Avatar"><small class="text-muted">{{review.user.first_name}} {{review.user.last_name}}</small>
                </p>
                <br>
                <p class="card-text"><small class="text-muted pull-left"><em>Posted: {{review.created}} ago</em></small></p>
              </div>
            </div>
          </div>
        </div><!--closes ng-repeat-->
      </div><!--closes .card-columns-->
    </div><!--closes container-->
  </div><!--closes container-->
<!-- <div id='map'>
