  <div id="user_background">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h3>Hi, {{profileCtrl.user.first_name}} {{profileCtrl.user.last_name}}</h3>
        <hr class="thick" ng-show="profileCtrl.showEditForm">
        <hr style="height:3px; width:180%" ng-hide="profileCtrl.showEditForm">
        <div id="avatar" class="col-md-3">
          <img ng-src="images/{{profileCtrl.user.avatar}}" class="img-circle img-responsive" alt="category image">
        </div>
        <div class="col-md-6 col-md-offset-1">
          <p><strong>Name:</strong> {{profileCtrl.user.first_name}} {{profileCtrl.user.last_name}}</p>
          <p><strong>Username:</strong> {{profileCtrl.user.username}}</p>
          <p><strong>Email:</strong> {{profileCtrl.user.email}}</p>
          <p><strong>Joined:</strong> {{profileCtrl.user.created}}</p>
          <p><strong>Reviews:</strong> {{profileCtrl.user.reviews.length || 0}}</p>
          <a href="#" ng-click="profileCtrl.showEditForm=true" ng-hide="profileCtrl.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>
        </div>
      </div>
      <!--start edit profile form-->
      <div class="col-md-3">
        <form ng-submit="profileCtrl.updateProfile()" ng-show="profileCtrl.showEditForm">
          <h4>Edit Profile</h4>
          <div class="form-group">
            <input type="text" ng-model="profileCtrl.new_profile.first_name" class="form-control" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" ng-model="profileCtrl.new_profile.last_name" class="form-control" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" ng-model="profileCtrl.new_profile.username" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="text" ng-model="profileCtrl.new_profile.email" class="form-control" placeholder="Email">
          </div>
          <input type="submit" value="Save Profile" class="btn btn-info">
          <a class="btn btn-danger" ng-click="profileCtrl.showEditForm=false">Cancel</a>
        </form>
      </div>
      <!--end profile form ends-->
    </div><!--closes profile row-->
  </div>


<!--user reviews-->
<div class="container">
  <div class="row">
    <!--search bar-->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search by Keyword"><br>
      </div>
    </div>

    <!--ng-repeat for reviews-->
    <div class="card-columns">
    <div  ng-repeat="review in profileCtrl.user.reviews | orderBy: 'created'| filter: searchText">

        <!-- <div class="col-md-4"> -->
          <div id="card">
            <div class="card">
              <img class="card-img-top img-responsive" ng-src="{{review.image}}" alt="Review Photo">

          <!-- <img ng-click="editing_photo=true" ng-hide="editing_photo" class="card-img-top img-responsive" ng-src="images/{{review.image}}" alt="Review Photo">
            <input
                  ng-show="editing_photo"
                  uploadcare-widget
                  ng-model="review.image"
                  data-public-key="demopublickey"
                  data-tabs="file url"
                  data-images-only="true"
                  data-preview-step="true"
                  data-clearable="true"
                  data-multiple="false"
                  data-crop="200:200"
                  on-upload-complete="onUCUploadComplete(info)"
                  on-widget-ready="onUCWidgetReady(widget)"
                  value="{{review.image}}"
                 /> -->


              <div class="card-block">
                <p class="card-text"> Category: {{review.item.category.name}}</p>
                <h3 class="card-text">
                  <span ng-hide="editing">{{review.title}}</span>
                  <input ng-show="editing" ng-model="review.title" type="text" class="form-control input-md">
                </h3>
                <p class="card-text"><strong>{{review.item.name}}</strong> from {{review.item.place.name}}</p>
                <div class="star"><p><strong>Rating:</strong> {{review.rating}} stars</p></div>
                <p class="card-text">
                  <span ng-hide="editing">{{review.content}}</span>
                  <input ng-show="editing" ng-model="review.content" type="text" class="form-control input-md">
                </p>
                <p class="card-text"><small class="text-muted">Posted: {{review.created}} ago</small>
                  <a ng-click="profileCtrl.destroy(review)"><i class="fa fa-trash-o pull-right"></i></a>
                  <a ng-click="editing=true" ng-hide="editing"><i class="fa fa-pencil pull-right"></i></a>
                </p>
                <a class='btn btn-success btn-sm' ng-show="editing" ng-click="profileCtrl.edit(review); editing = false">Save Changes</a>
                <a class="btn btn-danger btn-sm" ng-show="editing" ng-click="editing=false">Cancel</a>
              </div>
            </div>
          </div>
        </div><!--closes col-md-4-->
      </div><!--closes .card-columns-->
    </div><!--closes ng-repeat-->
  </div><!--closes row div-->
</div> <!--closes container div-->
