<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="col-sm-8">{{main.currentUser}}
        <h3>Hi, {{main.currentUser.first_name}} {{main.currentUser.last_name}}</h3>
        <hr style="height:3px; width:110%" ng-show="profileCtrl.showEditForm">
        <hr ng-hide="profileCtrl.showEditForm">
        <p><strong>Username:</strong> {{main.currentUser.username}}</p>
        <p><strong>Email:</strong> {{main.currentUser.email}}</p>
        <p><strong>Joined:</strong> {{main.currentUser.created}}</p>
        <p><strong>Reviews:</strong> {{main.currentUser.reviews.length || 0}}</p>
        <a href="#" ng-click="profileCtrl.showEditForm=true" ng-hide="profileCtrl.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>
      </div>
      <div class="col-sm-4">
        <img ng-src="images/{{main.currentUser.avatar}}" alt="category image">
      </div>
    </div>
    <!--end profile form-->
    <div class="col-md-5">
      <form ng-submit="profileCtrl.updateProfile()" ng-show="profileCtrl.showEditForm">
        <h3>Edit Profile</h3>
        <div class="form-group">
          <input type="text" ng-model="profileCtrl.new_profile.username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="text" ng-model="profileCtrl.new_profile.email" class="form-control" placeholder="Email">
        </div>
        <input type="submit" value="Save Profile" class="btn btn-info">
        <a class="btn btn-danger" ng-click="profileCtrl.showEditForm=false">Cancel</a>
      </form>
    </div>
    <!--end profile form ends-->
  </div><!--closes profile row-->
<hr>



  <!--user reviews-->
  <div class="row">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search by Keyword"><br>
      </div>
    </div>
    <div  ng-repeat="review in profileCtrl.user.reviews | orderBy: '-created'| filter: searchText">
      <div id="user_review" class="col-md-4">
        <!-- <h3>{{review.title}}</h3> -->
        <h3>
          <span ng-hide="editing">{{review.title}}</span>
          <input ng-show="editing" ng-model="review.title" type="text" class="form-control input-md">
        </h3>
        <div id="star"></div>
        <p>

        <!-- <div id="star">{{review.rating}}</div> -->
        <div class="star">{{review.rating}}</div>

          <!-- <span ng-hide="editing">{{review.rating}}</span>
          <input ng-show="editing" ng-model="review.rating" type="text" class="form-control input-md"> -->
        </p>
        <p> Category: {{review.item.category.name}}</p>
        <!-- <p>
          <span ng-hide="editing">{{review.item.category.name}}</span>
          <input ng-show="editing" ng-model="review.item.category.name" type="text" class="form-control input-md">
        </p> -->

        <p> {{review.item.name}}</p>
        <!-- <p>
          <span ng-hide="editing">{{review.item.name}}</span>
          <input ng-show="editing" ng-model="review.item.name" type="text" class="form-control input-md">
        </p> -->
        <!-- <p>
          <span ng-hide="editing">{{review.item.place.name}}</span>
          <input ng-show="editing" ng-model="review.item.place.name" type="text" class="form-control input-md">
        </p> -->
        <p>  {{review.item.place.name}}</p>

        <img ng-src="images/{{review.image}}" alt="category image">

        <a class="btn btn-danger" ng-click="profileCtrl.destroy(review)">Delete Post</a>
        <a ng-click="editing=true" ng-hide="editing" class="btn btn-default"><i class="fa fa-pencil"></i></a>
        <a class='btn btn-success' ng-show="editing" ng-click="profileCtrl.edit(review); editing = false">Save Changes</a>
    </div>
  </div>
</div> <!--closes container div-->

<!-- <div class="review_1">{{review.rating}}</div> -->

<!-- <script>
$(document).ready(function() {
  var rating = $('#star p').text()
  console.log("***", rating)
  $('#star').raty({score: rating });
})
</script> -->
