.jumbotron {
  background-image: url(/images/background1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
  background-position: center;
}
.jumbotron .container {
  height: 350px;
}

#category_img img{
  height: 200px;
}

#item_review img{
  height: 200px;
}

#map {
  min-height: 90%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  bottom:0;
  left:0;
}

#review {
  background-color: #ccd6dd;
  opacity: .8;
  margin-bottom: 20px;
  padding: 20px

}
