<!-- PostsNewController as postsNewCtrl -->
<div class="pull-right col-xl-4">
  <a class="btn btn-warning col-xl-2" href="/">Discard Changes</a>
  <a class="btn btn-danger col-xl-2" ng-click="postsEditCtrl.destroy(post)">Delete Post</a>
  <hr>
</div>
<form ng-submit="postsEditCtrl.update()">
  <div class="form-group">
    <input type="text" class="form-control" value="title" placeholder="Title" ng-model="postsEditCtrl.post.title" required="true">
  </div>
  <div class="form-group">
    <textarea class="form-control" value="content" placeholder="Content" ng-model="postsEditCtrl.post.content" required="true"></textarea>
  </div>
  <input type="submit" value="Update Post" class="btn btn-block btn-info">
</form>
