<!-- as 'itemsShowCtrl' -->
<div id='map'>

</div>
<div class="container">
  <div class="col-md-6">
    <div class="row">
      <h2>{{categoriesShowCtrl.category.name}}</H2>
    </div>
    <div class="row">
      <p>filter by:</p>
    </div>

    <!--display all reviews for single category-->
    <!-- <div ng-repeat="review in categoriesShowCtrl.category.reviews">
      <div id="review" class="row">
        Review Title: <a ng-href="/items/{{review.item}}">{{review.title}}</a><br> -->
        <!-- {{review.item}} -->
        <!-- Review Rating: {{review.rating}}<br>
        Place: {{review.place}}<br>
      </div>
    </div> -->



    <div ng-repeat="item in categoriesShowCtrl.category.items">
      <div id="review" class="row">
        Item: {{item.name}}<br>
        From: {{item.place.name}}<br>
        <a ng-href="/items/{{item._id}}">See all reviews</a>

      </div>
      <!-- <div ng-repeat="review in item.reviews"> -->
      <!-- <div id="review" class="row">
        Review Item:  <a ng-href="/items/{{review.item._id}}">{{review.item.name}}</a><br>
        Review Title: {{review.title}}<br>
        Review Rating: {{review.rating}}<br>
        Place: {{review.item.place.name}}<br>
      </div>
    </div> -->

  </div>
</div>





<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2xhbTA2IiwiYSI6ImNpb294d25xMzAwMXJ1eG0zdXdtaGtqMmwifQ.baGJ8eoCmGvgnMptSrTGyw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v8'
    });
</script>
