<!-- as 'itemsShowCtrl' -->

<style>

.navbar {
  position: fixed;
}
#map {
    position: fixed;
    width:50%;
    height:100%;
    top:52px;
    left:0;
    bottom:0;
}
#features {
    width: 50%;
    margin-left: 50%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
    margin-top: 52px;
}
#title {
  position: fixed;
  top:52px;

}
section {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}
</style>



<div id='map'></div>
<div class="container">
  <div id="title" class="col-md-3">
    <div class="row">
      <h2>{{categoriesShowCtrl.category.name}}</H2>
    </div>
    <!--search bar-->
    <div class="row">
      <input type="text" class="form-control" ng-model="searchText" placeholder="Search by Keyword"><br>
    </div>
  </div>
  <!--items-->
  <div id="features">
    <div ng-repeat="item in categoriesShowCtrl.category.items  | orderBy: '-created'| filter: searchText">
      <section id="baker" class="active">
      </section>
      <section id="{{item.place.name}}">
        <h3>{{item.name}}, {{item.price}}</h3>
        <h4>{{item.place.name}}</h4>
        <h5>{{item.place.address}}</h5>
        <h5>{{item.place.website}}</h5>
        <img ng-src="images/{{item.place.image}}" alt="place image" height="150px"><br>
        <a ng-href="/items/{{item._id}}">See all reviews</a>
      </section>
    </div>
  </div>
</div>
